.uk-badge-green {
    background: #00a329;
    color: #ffffff;
}
.uk-badge-red {
    background: #b90c0c;
    color: #ffffff
}
.uk-badge-yellow {
    background: #b3a700;
    color: #ffffff
}
.uk-badge-blue {
    background: #000ed6;
    color: #ffffff
}
.uk-badge-purple {
    background: #6f00d6;
    color: #ffffff
}